$layout-width: '1140px' !default;
$av-element-class-chain: '__' !default;        // Chain characters between block and element
$av-modifier-class-chain: '--' !default;        // Chain characters between block and modifier
$av-breakpoint-class-chain: '--' !default;        // Chain characters between width and breakpoint
$logo-width: 150px;

.page-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: ∂'main';

  @include mq('lap-and-up') {
    grid-template-areas: 'main main main';
  }

  .page-main {
    grid-area: main;

    @include mq('lap-and-up') {
      display: grid;
      grid-template-columns: auto 150px 960px 150px auto;
    }
  }
}
