
$text: map-get($colors, grey-dark) !default;
$text-light: map-get($colors, grey) !default;
$text-strong: map-get($colors, grey-darker) !default;

// Typography
$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;
$family-primary: $family-sans-serif !default;
$family-code: $family-monospace !default;
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-semibold: 500 !default;
$weight-bold: 700 !default;
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: .75rem !default;
$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;

// Link colors
$link: map-get($colors, primary) !default;
$link-invert: map-get($colors, primary-invert) !default;
$link-visited: map-get($colors, purple) !default;
$link-hover: map-get($colors, grey-darker) !default;
$link-hover-border: map-get($colors, grey-light) !default;
$link-focus: map-get($colors, grey-darker) !default;
$link-focus-border: map-get($colors, primary) !default;
$link-active: map-get($colors, grey-darker) !default;
$link-active-border: map-get($colors, grey-dark) !default;
$link-color: $primary !default;
$link-brand-color: #f40057 !default;
$link-info-color: $info !default;
$link-warning-color: $warning !default;
$link-success-color: $success !default;
$link-error-color: $danger !default;
$link-text-decoration: none !default;
$link-hover-text-decoration: underline !default;
