<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109578378-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109578378-1');
script(src="https://platform.twitter.com/widgets.js" async)
script(src="https://buttons.github.io/buttons.js" async)
script(src="https://codefund.io/scripts/993e28c3-31e1-439b-990b-c137d510c920/embed.js?template=horizontal" async)
<!-- Set character encoding for the document -->
meta(charset="utf-8")

<!-- Viewport for responsive web design -->
meta(name='viewport', content='width=device-width, initial-scale=1')

<!-- Document Title -->
title #[=translation.SITE_NAME] - #[=translation.INDEX_TITLE]

<!-- Meta Description -->
meta(name='description', content=translation.SITE_DESCRIPTION)

link(rel="stylesheet" href="/styles/main.min.css")

<!-- Recommended favicon format -->
link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")

<!-- Apple Touch Icon -->
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")

<!-- Microsoft Tiles -->
meta(name="msapplication-config" content="/browserconfig.xml")

link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color" content="#2b2b2b")
meta(name="msapplication-TileColor" content="#2b2b2b")
meta(name="msapplication-TileImage" content="/icons/mstile-144x144.png")

link(rel="manifest" href="/manifest.json")

script
  include ../../modernizr-custom.min.js
